# Scrapy specific ignores
__pycache__/
.scrapy/

# Ignore logs and temporary files
*.log
*.log.*
*.json
*.csv
*.xml

# Ignore virtual environment files (if you're using a virtual environment)
venv/
.env/

# Ignore IDE and editor specific files
.vscode/


# Ignore compiled Python files
__pycache__/
